/* #root {
  background-color: #1C1C1C;
} */
 /* @font-face {
  font-family: "GoldmanSemiBold";
  src: local("GoldmanSemiBold"),
   url("./fonts/static/EncodeSans/EncodeSans-SemiBold.ttf") format("truetype");
  }  */
